* {
  background-color: #dcb387;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
}

h1 {
  color: #517174;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookform {
  color: #517174;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 350px;
}
.card {
  border: 2px solid black;
  height: 200px;
  width: 200px;
  background-color: #ef5d58;
  gap: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.text {
  flex-wrap: wrap;
  display: flex;
  height: 200px;
  width: 265px;
  font-size: large;
}
#title,
#author,
#numberOfPages,
#hr,
#submit {
  display: flex;
}
#submit {
  margin-top: 15px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
